$red: #ed493f;

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  overflow: hidden;
  background-color: slategray;
}

.container {
  width: 370px;
  background: url(../img/background.jpg) no-repeat left top;
  position: relative;
  background-color: white;
}

header {
  height: 265px;

  .date {
    color: white;
    background: $red;
    position: absolute;
    border-radius: 50%;
    left: 280px;
    top: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }
}

article {
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;

  .photo-id {
    background: $red;
    color: white;
    padding: 0.5rem 1rem;
    position: absolute;
    top: -60px;
    left: -1rem;
  }
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    color: $red;
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }

  .main-text {
    text-align: justify;
    margin: 1rem auto;
    line-height: 1.5;
  }
}

footer {
  ul {
    padding-left: 0;
    padding-bottom: 1rem;
    list-style: none;
    display: flex;

    li {
      margin-left: 1rem;
    }
  }
}
