$red: #ed493f;

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  overflow: hidden;
}

.container {
  width: 370px;
  background: url(../img/background.jpg) no-repeat left top;
  position: relative;
}

header {
  height: 265px;

  .date {
    color: white;
    background: $red;
    position: absolute;
    border-radius: 50%;
    left: 280px;
    top: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }
}

article {
  .photo-id {
    background: $red;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: -20px;
  }
  h2 {
    font-weight: 600;
  }

  .subtitle {
    color: $red;
  }
}
